<app-navbar></app-navbar>

<div class="row" style="margin: 40px 20%;">
    <div style="height: 70px; width: 100%; background-color: #f7c000; margin-bottom: 40px; border-radius: 10px">
        <p style="text-align: center; font-size: 35px; line-height: 70px;"><b>Check out our low priced sale items!</b></p>
    </div>
    <div class="col-sm-4" style="margin-bottom: 20px;" *ngFor="let product of productList">
        <div class="card" style="border-radius: 10px;" data-testid="homepage-product">
            <img class="card-img-top" style="border-top-left-radius: 10px; border-top-right-radius: 10px; object-fit: cover; width: 270px; height: 200px" src={{product.image}}>
            <div *ngIf="product.name == 'iPod Nano'" style="background-color: #f7c000; position: absolute; top: 20px; left: 0; width: 135px; height: 25px; padding-left: 5px;">
                <p>#1 in Best Selling</p>
            </div>
            <div class="card-body">
                <p style="text-align: center;"><b>{{product.name}} - ${{product.price}}</b></p>
                <p style="float: left"></p>
                <a [routerLink]="['/product-detail', product._id]" class="btn btn-secondary" style="float: left">View Details</a>
                <a (click)="addtocart(product)" class="btn btn-primary" style="float: right">Add to Cart</a>
            </div>
        </div>
    </div>
</div>

