<app-navbar></app-navbar>

<div style="margin: 20px 20%">
    <div *ngIf="empty">
        <h2 style="text-align: center;">No items in cart</h2>
    </div>
    <div *ngIf="!empty">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Final Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.name}}</td>
                    <td>1</td>
                    <td>{{product.description}}</td>
                    <td>${{product.discountPrice}}</td>
                    <td><button (click)="remove(product)" class="btn btn-danger">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <p style="float: left"><b>Total: </b>${{total}}</p>
        <button class="btn btn-primary" routerLink="/checkout" style="float: right">Checkout</button>
    </div>
</div>